
/* UNITED THEMES META PANEL
   ALL RIGHTS RESERVED BY UNITED THEMES
   WWW.UNITEDTHEMES.COM 
*/

#ut-metapanel {
    font-size:13px;
}
#ut-metapanel .inside {
    margin:0;
    padding:0;
    font-size:inherit;
    line-height:inherit;
}
#ut-metapanel .ut-panel-description {
	padding-right: 150px;
}
#ut-metapanel .ut-metabox-wrap {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#ut-metapanel .hndle.ui-sortable-handle {
    border-bottom: none;
    font-weight:400;
}
#ut-metapanel .ui-widget-content {
	background: none;
}
#ut-metapanel .handle-actions {
    display: none;
}

#ut-metabox-tabs-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
    border-top: 1px solid #40424b;
    border-top: 1px solid rgba(255,255,255,0.05);
}

#ut-metabox-tabs-overlay.ut-meta-panel-loaded {
    top: 100px;
}

#ut-metabox-tabs-overlay.ut-meta-panel-loaded #ut-meta-panel-loader {
    margin-top: 0;
}

#ut-load-meta-panel,
#ut-meta-panel-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    margin-top: 30px;
}
#ut-load-meta-panel {
    animation: shadow-pulse 1s infinite;
}
#ut-metapanel .ut-portfolio-hide {
    display: none !important;        
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 121, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

/* UT Showcase Meta Box */

#ut-portfolio-showcase-sc {
    margin-top: 20px;
    margin-bottom: 0px;
}
#ut-portfolio-showcase-sc .hndle.ui-sortable-handle {
    font-weight:400;
}
#ut-portfolio-showcase-sc .inside {
    margin: 0;
    padding: 20px 0;
}
#ut-portfolio-showcase-sc .ut-shortcode-code {
    width: 400px;
    height: 43px;
    max-height: 43px;
    line-height: 38px;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border: none;
    float: left;
    margin: 0 20px;
    border-radius: 4px;
}

/* UT Simple Meta Box */

.ut-metabox-wrap-simple {
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    margin-top: 10px !important;
    background: transparent !important;
}
.ut-metabox-wrap-simple .ut-panel-section {
    padding:10px 5px;
    background: transparent;
}
.ut-metabox-wrap-simple .ut-single-option-title,
.ut-metabox-wrap-simple .ut-panel-section:hover .ut-single-option-title {
    font-size: 14px;
}
.ut-metabox-wrap-simple .ut-switch {
    top: 20px;
    right: 5px;
}

#ut-admin-wrap.ut-metabox-wrap-simple .ut-ui-image-wrap {
    margin-top: 20px;
    padding: 0;
    border: 1px solid #d5d5d5;
}

#ut-admin-wrap.ut-metabox-wrap-simple .ut-ui-form-input,
#ut-admin-wrap.ut-metabox-wrap-simple .ut-ui-form-textarea {
    background: #FFF;
    border: 1px solid #eee;
    color: #898c8f;
}

#ut-admin-wrap.ut-metabox-wrap-simple .ut-ui-form-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* UT Panel Tabs */
#ut-metabox-tabs {
    border-radius: 0;
    padding: 0;
    border: none;
    min-height: 300px;
}
#ut-metapanel .ui-tabs-nav {
    padding:30px;
    margin: 0;
    border-radius: 0;
    border-right: none;
    border-left: none;
}
#ut-metapanel .ui-tabs-nav li {
    line-height:40px;
    margin-right:10px;
    display:inline-block;
    margin-bottom: 0;
}
#ut-metapanel .ui-tabs-nav li {
    display:inline-block;
    border: none;
    background: none;
    font-weight: 400;
    padding-bottom: 0;
}
#ut-metapanel .ui-tabs-nav.ui-tabs-nav-inner li:first-child {
    margin-left: 30px;
}

#ut-metapanel .ui-tabs-nav.ui-tabs-nav-inner li {
    margin-top: 10px;
    margin-bottom: 10px;
}

#ut-metapanel .ui-tabs-nav li a {
    padding: 8px 12px;
    outline: none;
    text-decoration:none;
    background: transparent;
    float:none;
    border-radius: 4px;
    -webkit-transition:all 0.2s ease 0s; 
	        -o-transition:all 0.2s ease 0s; 
	        transition:all 0.2s ease 0s;
}
#ut-metapanel .ui-tabs-nav li.ui-state-focus {
    background:none;
}

/* Panel Tabs */

#ut-metapanel .ui-tabs-panel {
    display:none;
    border: none;
    padding: 0;
}

#ut-metapanel.loading .ui-tabs-panel {
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
}

#ut-metapanel .ui-tabs-panel:not(.ui-has-inner-tabs) {
    padding:0 40px 200px 40px;
}

/* Inner Panel Tabs */

#ut-metapanel .ui-tabs-nav-inner {
    border:none;
    padding: 0;
}
#ut-metapanel .ui-tabs-nav-inner li a {
    padding: 6px 10px;
}
#ut-metapanel .ut-panel-title {
    padding-left: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
#ut-metapanel .ut-section-title {
    margin:32px 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}
#ut-admin-wrap .ut-radio-button {
    text-decoration:none;
    outline:none;
    margin-right:10px;
    border: none;
    display: inline-block;
    padding: 12px 24px;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

/* Inner Vertical Panel Tabs */
#ut-metapanel .ui-tabs-nav-vertical-inner {
    padding: 0 30px;
    z-index: 1;
    position: relative;
}

.ui-tabs-panel.ui-tabs-panel-vertical-inner {
    width: 100%;
    float: left;
    box-sizing: border-box;
    clear: none;
}

#ut-metapanel .ui-tabs-nav.ui-tabs-nav-vertical-inner li {
    display: inline-block;
    margin: 0;
}

#ut-metapanel .ui-tabs-nav.ui-tabs-nav-vertical-inner li a {
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: -1px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.ui-tabs-panel-inner-vertical {

}

/* UT Switch Settings */

#ut-option-switch-wrap {
    padding:40px 0;
    position:relative;
    overflow:hidden;
}
#ut-option-switch-wrap .ut-dash-fa-demo {
    right:20px;
}
#ut-option-switch-wrap .ut-radio-button-group {
    line-height:40px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;    
}
#ut-option-switch-wrap .ut-radio-button-group .description {
    margin-top:10px;
}
#ut-option-switch-wrap .ut-radio-button-group a {
    text-decoration:none;
    border-radius:4px;
    padding:20px;
    outline:none;
    -webkit-transition:all 0.2s ease 0s; 
	        -o-transition:all 0.2s ease 0s; 
	        transition:all 0.2s ease 0s;
     margin-right:10px;
}
#ut-option-switch {
    position: relative;
    z-index: 1;
}
.ut-disabled-for-user {
    display:none !important;
    visibility:hidden;
    height:0px;
    overflow:hidden;
    padding:0px !important;
}

/* Inline Message Box */

.ut-pointer-overlay {	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(40,45,50, 0.8 );
	z-index: 10;	
}

@media (max-width: 767px) {
    #ut-metapanel .ui-tabs-panel:not(.ui-has-inner-tabs) {
        padding:0 20px 0px 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #ut-metapanel .ui-tabs-panel:not(.ui-has-inner-tabs) {
        padding:0 20px 0px 20px;
    }
}

/* secondary title */
#ut-secondary-title {
    display: none;
}

#ut-secondary-title-wrap > input {
    width: 100%;
}

#ut-secondary-title-wrap p {
    margin-bottom: 0px;
    padding: 0px 5px;
}

/* temp solution */
#setting_ut_page_hero_image_fader_position .ut-single-option-title,
#setting_ut_page_hero_image_fader_tablet_position .ut-single-option-title,
#setting_ut_page_hero_image_fader_mobile_position .ut-single-option-title {
    display: none;
}

#setting_ut_page_hero_image_fader_position .ut-panel-description,
#setting_ut_page_hero_image_fader_tablet_position .ut-panel-description,
#setting_ut_page_hero_image_fader_mobile_position .ut-panel-description {
    visibility: hidden;
}

#ut-metapanel .postbox-header {
    border-bottom: transparent;
}