.clb-gallery {
	.gallery-image {
		img {
			vertical-align: top;
		}

		.clb-gallery-img-details {
			.caption {
				display: none;
			}
		}

		&.clasic-grid {
			.clb-gallery-img-details {
				@include spacer25(padding-top);
				@include spacer25(padding-bottom);
			}
		}

		// Minimal grid

		&.minimal-grid {
			position: relative;

			@include sm_screen() {
				&.vc_col-xs-6 {
					padding: 10px 15px !important;
				}
			}

			.grid-item-container {
				overflow: hidden;
				@include border_radius();
			}

			.clb-gallery-img-details {
				width: 100%;
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    padding: 40px;
			    @include spacer40();
				@include animate();
				opacity: 0;
			    align-self: flex-end;
			    background: linear-gradient(180deg, rgba($color_overlay, 0), rgba($color_overlay, 0.4));
			    z-index: 10;
			    
			    * {
			    	color: #fff;
			    	@include fade_up();
			    }
			}

			&:hover {
				.clb-gallery-img-details {
					opacity: 1;

					* {
						@include fade_up_active();
					}
				}
			}
		}
	}
}

// Gallery grid
.grid-item {
	&-container {
		position: relative;
		overflow: hidden;

		&-image {
			vertical-align: top;
			@include animate();
		}
	}

	.grid-image-holder {
		position: relative;
		overflow: hidden;
		@include border_radius();

		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			height: 100%;
			background: rgba($color_overlay, 0.25);
			opacity: 0;
			visibility: hidden;
			@include animate();
		}
	}

	&:hover {
		.grid-image-holder {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	// Metro style

	&.metro-style {
		.grid-item-container {
			overflow: hidden;
		}

		figure {
			&.grid-item-image {
				padding-top: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				overflow: hidden;
				position: relative;
			}
		}

		.hidden-image {
			visibility: hidden;
			height: 100% !important;
			width: 100% !important;
			top: 0;
			position: absolute;
		}
	}
}

.gallery-tmpimage {
	position: fixed;
	z-index: 9999999;
	@include animate();

	&.active {
		left: 50%;
	}
}