.clb-popup {
	background-color: $color_overlay;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9999999;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-50vh);

	&.hidden {
		opacity: 0;
		visibility: hidden;
		display: initial;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
		transform: none;
		transition: opacity .5s ease-in-out;
	}

	.close-bar {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		@include flex_center();
		justify-content: space-between;
		flex-direction: row-reverse;

	    &.text-left {
	    	justify-content: flex-end;
	    }

		.btn-expand {
			display: inline-block;
		}
	}

	&-holder {
		padding: 136px 10vw;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		@include note_screen {
			padding: 80px 10vw;
		}
	}

	// Mobile styles

	@include sm_screen {
		overflow-y: auto;

		&-holder {
			height: auto;
			padding: 96px $spacer_25;
		}

		.close-bar {
			position: fixed;
		}

		.clb-slider-nav-btn {
			margin-right: 0 !important;
		}
	}
}

// Video lightbox

.clb-video-popup {
	iframe {
		margin: 0;
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 1;
	}
}

// Portfolio lightbox

.clb-portfolio-lightbox {
	display: flex;
	&-media,
	&-details {
		height: 100%;
	}

	&-media {
		width: calc(100% - 650px);
		height: 100%;
		position: relative;

		.slider {
			width: 100%;
			height: 100%;
			position: static;

			.clb-slider-outer-stage,
			.clb-slider-stage {
				height: 100%;
			}

			.clb-slider-pagination {
				left: 0;
			}

			.portfolio-lightbox-image {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	&-details {
		width: 650px;
		height: 100%;
		display: flex;
		align-items: center;
		right: 0;
		padding: 12vh 10vh;
		background-color: $color_dark;
		position: relative;
		color: #fff;

		.project-page-headline,
		.project-meta-title,
		.btn-link {
			color: #fff;
		}

		.project-page-headline {
			margin: 10px 0px;
		}

		.project-page {
			.project-meta {
				li {
					width: calc((100% / 3) - 25px);
				}

				p {
					color: $color_light_rgba;
				}
			}
		}
	}

	// Mobile styles

	@include sm_screen() {
		& {
			flex-direction: column;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				width: 0;
			}
		}

		&-media {
			width: 100%;
			position: relative;
			overflow-y: auto;
			overflow: visible;
			min-height: 50%;

		}

		&-details {
			width: 100%;
			height: auto;
			display: block;
			position: relative;
			right: auto;
			padding: $spacer_20;
		}
	}
}

// Gallery lightbox

.clb-gallery-lightbox {
	.close-bar {
		display: flex;
		justify-content: space-between;
	}

	.clb-popup-holder {
		padding-top: 0;
		padding-bottom: 0;

		.slider {
			opacity: 0;
			@include animate();

			&.ready {
				.clb-slider-item:not(.active) {
					transform: scale(.5);
					@include animate();	
				}
			}
		}

		.slider,
		.clb-slider-stage {
			height: 100%;

			.image-wrap {
				// @include spacer40(padding-top);
				// @include spacer40(padding-bottom);
				padding-top: 136px;
				padding-bottom: 136px;

				&.with-description {
					padding-bottom: 0;
				}
			}
		}
	}

	.clb-slider {
		max-width: 70%;

		&-outer-stage {
			overflow: visible;
		}

		&-stage {
			align-items: center;
		}

		&-item {
			position: relative;
			@include animate();
			@include flex_center();
			flex-direction: column;
			justify-content: center;

			img {
				max-height: calc(100vh - 290px);
			}

			&.active {
				transform: none;
				@include animate();
			}
		}

		&-item:not(.active) {
			//transform: scale(.5);
			@include animate();	
		}

		&-nav-btn {
			position: fixed;
		}

		@include tablet_vert_screen() {
			.clb-slider-outer-stage {
				height: 100%;
	
				.image-wrap:not(.with-description) {
					padding-top: 30px;
					padding-bottom: 30px;	

					img {
						max-height: calc(100vh - 60px);
					}
				}

				.image-wrap.with-description {
					padding-top: 30px;

					img {
						max-height: calc(100vh - 166px);
					}
				}
			}
		}
	}

	.clb-gallery-img-details {
		display: flex;
		justify-content: center;
		align-items: center;
    	flex-direction: column;
		min-height: 136px;
		max-height: 200px;
		width: 100%;
		@include spacer30(padding);

		.title {
			color: #fff;
			font-size: 18px;
		}

		.caption {
			display: block;
			width: auto;
			color: $color_light;
		}
	}
}

// Product quickview lightbox

.clb-popup-product {
	display: block;
	overflow-y: auto;
	
	.vc_row {
		margin: 0;

		.vc_col-md-6 {
			padding: 0;
		}
	}

	.woocommerce-product-gallery__image {
		> img {
			width: 100%;
		}
	}

	.woo_c-product {
		background-color: #fff;
		padding: 0;
		@include border_radius(6px);
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;

		&-details {
			background-color: transparent !important;

			@include sm_screen() {
				margin-left: 0;
				margin-right: 0;
			}

			&-inner {
				@include spacer60();
			}
		}

		&-image {
			.product-image-dots {
				@include spacer30(margin-top);
				@include spacer30(margin-left);
				@include spacer30(margin-right);
			}
		}

		@include sm_screen() {
			.clb-slider-stage {
				@include border_radius(6px);
			}
		}
		
		@include lg_screen() {
			&-details,
			.product-image-dots {
				position: sticky;
				top: 0;
			} 

			.product-image-dots {
				top: 30px;
			} 
		}
	}
}